@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
